{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}LOGIN IN{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="login">
    <form method="POST">
        <label for="nombre">USERNAME:</label>
        <input type="text" name="nombre" id="nombre" required>
        <label for="password">PASSWORD:</label>
        <input type="password" name="password" id="password" required>
        <input type="submit", value="Login in">
    </form>
    <div class="back">
        <a href="{{ url_for('blog.index') }}" ><img src="{{ url_for('static', filename = 'img/volver.png') }}" alt="" class="acciones"></a></a>
    </div>
</div>
{% endblock %}