{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}POST UPDATE{% endblock %}</h2>
{% endblock %}

{% block content %}
<div class="login">
    <form method="POST">
        <label for="titulo">TITLE:</label>
        <input type="text" name="titulo" id="titulo" value="{{ publicacion.titulo }}" required>
        <label for="cuerpo">DESCRIPTION:</label>
        <textarea name="cuerpo" id="cuerpo" cols="30" rows="10" required>{{ publicacion.cuerpo }}</textarea>
        <label for="img">IMAGE:</label>
        <input type="text" name="img" id="img" value="{{ publicacion.img }}" required>
        <label for="link">LINK FOR MORE INFORMATION:</label>
        <input type="text" name="link" id="link" value="{{ publicacion.link }}" required>

        <input type="submit", value="Save">
    </form>
</div>


{% endblock %}